@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Super Admin</h1>
    <p class="lead">This application is designed for systems admin to ease the process of creating a new user in AD</p>
    <p><a href="~/CreateUser" class="btn btn-primary btn-lg">Start</a></p>
</div>